#header {
	background-color: white;
	margin-top: 10px;
}

#main {
	background-color: white;
	margin-top: 10px;
}

#footer {
	background-color: white;
	margin-top: 10px; 
}

body {
	background-color: grey;
}

